@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: none;
  outline: none;
}
 html{
background: rgb(2, 6, 23);
 }

*::-webkit-scrollbar {
  width: 0px;
  margin-right: 10%;
}
